* {
    box-sizing: border-box;
}

nav {
    display: none;
}

.bottom-nav ul li {
    display: none;
}

/* .bottom-nav {
    width: 100%;
    /* justify-content: flex-start; */
} */

.p1 {
    text-align: center;
}

.tnw-logo {
    margin-right: 4rem;
}

.bottom-nav i {
    line-height: 0;
}

.icon-border2 {
    position: relative;
    display: inline-block;  
}

.bar-icon i {
    /* font-size: 1.2rem; */
    color: #ff0000;
}