* {
    box-sizing: border-box;
}

nav {
    display: none;
}

.bottom-nav ul li {
    display: none;
}

.p1 {
    text-align: center;
}

.tnw-logo {
    margin-right: 4rem;
}

.bottom-nav i {
    line-height: 0;
}

.icon-border2 {
    position: relative;
    display: inline-block;  
}

.icon-border2 i {
    /* font-size: 1.2rem; */
    color: #ff0000;
}

.tnw div {
    display: none;
}

.main-grid {
    grid-template-columns: 100%;
    grid-auto-rows: minmax(auto);
}

.tnw {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.reddit {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding: 2rem;
}

.microsoft {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    padding-top: 3rem;
}

section {
    grid-row: 4;
    margin: 2rem;
}

section h1 {
    padding-left: 0;
    margin: 0 2rem;
    padding-bottom: 2rem;
}

.my-flex {
    grid-template-columns:100%;
    grid-auto-rows: minmax(10rem, auto);
    margin: 0 2rem;
}

.my-flex img {
    width: 25%;
    height: 9.5rem;
}

.flex-item {
    display: flex;
    margin: 0;
}

.additional-content {
    margin-left: 1rem;
}

.additional-content p {
    font-weight: 800;
    font-size: 1.5rem;
}


.funding {
    margin: 0 auto;
}

.fund-header {
    flex-direction: column;
    margin-left: 1.3rem;
}

.co-details {
    grid-template-columns: 1fr;
    width: 95%;
}

.tech-news {
    grid-template-columns: 1fr;
    width: 95%;
}

.deals-flex {
    grid-template-columns: 1fr;
    width: 100%;
    margin: 0;
}

.last-section {
    width: 100%;
}

.deals-item {
    width: 100%;
}

.deals-item img {
    width: 10rem;
    height: 10rem;
    float: left;
    margin-right: 2rem;
    margin-left: 0;
}

